html {
    box-sizing: border-box;
}

*,
*:before
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    display: flex;
    background: 333;
    min-height: 100vh;
    background: linear-gradient(135deg, #333 48%, #686868 100%);
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.round {
    background-color: white;
    width: 1000px;
    height: 1000px;
    border: 3px solid black;
    border-radius: 10px;
}